body{
	background-color: black;
	color:white;
}

.full-height {
    height: 100vh;
}

.container-height{
    height:100%;
}

.container-width{
	width:100%;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.subheader{
    font-size: 16px;
    margin-top: 70px;
    position:absolute;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.preview-project{
	height: 70vh;
	width:70vw;
	margin-left: 20vw;
	margin-bottom: 20vh;
	background-color: grey;
}

.buttons-container{
	right: 5vw;
	bottom:5vw;
	position:fixed;
}

.active.project{
    background-color: black;
}

.modal{
    color:black;
}

.italic{
    font-style: italic;
}

.bold{
    font-weight: bold;
}